version: '3.8'

services:
  app:
    build: .
    container_name: financial_app
    restart: always
    ports:
      - "3003:3003"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/financial_ls?schema=public
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - SEED_DB=false
      - SEED_ADMIN_NAME=${SEED_ADMIN_NAME}
      - SEED_ADMIN_EMAIL=${SEED_ADMIN_EMAIL}
      - SEED_ADMIN_PASSWORD=${SEED_ADMIN_PASSWORD}
      # Add other env vars here if needed
    volumes:
      - ./uploads:/app/uploads
    command: >
      sh -c "npx prisma migrate deploy &&
             if [ \"$SEED_DB\" = \"true\" ]; then npm run db:seed; fi &&
             npm start"
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: financial_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=financial_ls
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
