# Database
DATABASE_URL="postgresql://postgres:postgres@db:5432/financial_ls?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="https://projects.linksystem.tech"
NEXTAUTH_SECRET="Qv9x3e6lZc5Jk8FhR1b0u4mP2aT7YwN+SxDqL9C0gV="

# Seed Configuration
SEED_DB=false
SEED_ADMIN_NAME="Gabriel Ferreira"
SEED_ADMIN_EMAIL="business.gabrielferreira@gmail.com"
SEED_ADMIN_PASSWORD="Gb1847@@"

# Service URLs (Coolify variables)
SERVICE_URL_APP="https://projects.linksystem.tech"
SERVICE_FQDN_APP="projects.linksystem.tech"
